/*to fix: make nav bar circles rounder, get rid of delay on nav hover, make photos shift to center of page on hover, give varied overlay colors, add links to top nav and create link style*/
 *, *:after, *:before {
    box-sizing:border-box;
    -webkit-box-sizing: border-box;
}
* {
    -webkit-transition: all .5s ease;
}
body, html {
    background-color:#051632;
    margin: 0;
    padding: 0;
}
header {
    color: HSLA(170, 30%, 92%, 1);
    font-size: 3rem;
    text-align: center;
    background-color:#051632;
    padding: 60px 20px 20px 20px;
    margin: 0 auto;
    font-family:'Pacifico', cursive;
    overflow: auto;
}
footer {
    color: HSLA(170, 30%, 92%, 1);
    text-align: center;
    background-color:#051632;
    padding: 60px;
}
.box {
    margin: 0 auto;
    max-width: 1280px;
    font-size: 0px;
    padding: 0;
}
.fixIt {
    position: fixed;
    top: 10px;
    left: 0px;
    margin: 0px;
    padding: 5px;
    font-size: 0px;
    width: 100%;
    z-index: 2;
}
.nav, .network {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    margin: 0 auto;
    padding: 10px;
    font-size: 0px;
}
.network {
    text-align: right;
}
.nav {
    text-align: left;
}
.nav ul {
    font-size: 0px;
    margin: 0;
    padding: 0;
}
.nav li {
    border: 1px solid HSLA(182, 86%, 65%, 1);
    border-radius: 50%;
    padding: 2%;
    margin: 3px;
    font-size: 1.5rem;
    color: HSLA(182, 86%, 65%, 1);
    display: inline;
}
.nav li:hover {
    background-color: HSLA(182, 86%, 65%, 1);
    color: HSLA(217, 82%, 11%, 1);
}
.bottomNav {
    font-family: arial, sans-serif;
    font-size: 1rem;
    font-weight: 100;
    letter-spacing:2px;
}
.bottomNav li {
    display: inline;
}
.address {
    font-family:'Pacifico', cursive;
    font-size: 2rem;
}
.cell {
    display: inline-block;
    vertical-align: top;
    margin: 0 auto;
    width:33.33%;
    height: 300px;
}
.babyBlue {
    background-color: HSLA(182, 86%, 65%, 1);
}
.red {
    background-color:HSLA(359, 100%, 50%, 1);
}
.fadedRed {
    background-color: HSLA(358, 100%, 76%, 1);
}
.summerSky {
    background-color: HSLA(204, 88%, 58%, 1);
}
.bubbles {
    background-color: HSLA(170, 30%, 92%, 1);
}
.oxfordBlue {
    background-color: HSLA(216, 62%, 17%, 1);
}
#exterior {
    background-image: url(http://cl.ly/image/3S1530442r3S/exterior.jpg);
    background-size: cover;
    background-position: center;
}
#livingroom {
    background-image: url(http://cl.ly/image/2N0O3V3V172D/livingroom.jpg);
    background-size: cover;
    background-position: center;
}
#kitchen {
    background-image: url(http://cl.ly/image/2m1Z1l2V0f2h/kitchen.JPG);
    background-size: cover;
    background-position: center;
}
#den {
    background-image: url(http://cl.ly/image/0y1T0o0F3Q2V/family%20room.JPG);
    background-size: cover;
    background-position: center;
}
#bedroom1 {
    background-image: url(http://cl.ly/image/113K3v1f0n37/bedroom1.JPG);
    background-size: cover;
    background-position: center;
}
#bedroom2 {
    background-image: url(http://cl.ly/image/2g0w1Q382l1I/bedroom2.jpg);
    background-size: cover;
    background-position: center;
}
.cell2 {
    display: inline-block;
    vertical-align: top;
    margin: 0 auto;
    width:33.33%;
    height: 300px;
    position: relative;
}
.cell2:after {
    background-color:HSLA(358, 100%, 76%, 1);
    opacity: .5;
    content:'';
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
}
/*.cell:hover {
  -webkit-transform: scale(1.5);
}*/
 .cell2:hover {
    -webkit-transform: scale(2);
    z-index: 1;
    border: 5px solid HSLA(182, 86%, 65%, 1);
}
.cell2:hover::after {
    opacity: 0;
}
@media (max-width: 600px) {
    .cell {
        display: none;
    }
    .cell2 {
        width: 100%;
    }
    .cell2::after {
        background-color:HSLA(358, 100%, 76%, 0);
    }
    .cell2:hover {
        -webkit-transform: none;
    }
    .nav, .network {
        width: 100%;
        text-align: center;
    }
    header {
        font-size: 1.5rem;
        margin-top: 2rem;
    }
}
.upButton {
        color: HSLA(182, 86%, 65%, 1);
}
/*------------------javascript-----------------*/

/*.secondClick{
    background-image: url(http://www.lovethispic.com/uploaded_images/22142-Perfect-House-Exterior.jpg);
    background-size: cover;
    background-position: center;
}*/
/*.upButtonMD {
    background-color: white;
}

.upButtonMU {
    background-color: red;
}*/

.moused {
    opacity: 0;
}

.unmoused {
    opacity: 1;
}

.clicked {
    border-color: white !important;
}


